body{
    background-color: #000000;
    color: white;
}

button{
    background-color: #41d5f0;
}

p{
    color: #f6f6f6;
}

a{
    color: #8c41f0;
}

h1 strong{
    color: #22d4fd;
}

img{
    width: 230px;
    height: 230px;
}